@import url(./fonts/ptsansnarrow.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/nav/nav.css);
@import url(./blocks/nav/__item/nav__item.css);
@import url(./blocks/btn-login/btn-login.css);
@import url(./blocks/main/main.css);
@import url(./blocks/main-img/main-img.css);
@import url(./blocks/advantage/advantage.css);
@import url(./blocks/advantage/__item/advantage__item.css);
@import url(/blocks/advantage/__title/advantage__title.css);
@import url(./blocks/rhombus/rhombus.css);
@import url(./blocks/advantage/__rhombus/advantage__rhombus.css);
@import url(./blocks/advantage/__text/advantage__text.css);
@import url(./blocks/container-two-sections/container-two-sections.css);
@import url(./blocks/container-two-sections/__section/container-two-sections__section.css);
@import url(./blocks/container-two-sections/__title/container-two-sections__title.css);
@import url(./blocks/container-two-sections/__text/container-two-sections__text.css);
@import url(./blocks/container-two-sections/__date/container-two-sections__date.css);
@import url(./blocks/btn/btn.css);
@import url(./blocks/container-two-sections/__btn/container-two-sections__btn.css);
@import url(./blocks/container-two-sections/__gallery/container-two-sections__gallery.css);
@import url(./blocks/container-two-sections/__btn-container/container-two-sections__btn-container.css);
@import url(./blocks/container-two-sections/__line/container-two-sections__line.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer-container/footer-container.css);
@import url(./blocks/footer-container/__contacts/footer-container__contacts.css);
@import url(./blocks/footer-container/__social-networks/footer-container__social-networks.css);