@font-face {
    font-family: 'PTSans';
    src: url(./ptsansnarrow.woff) format('woff'),
         url(./ptsansnarrow.woff2) format('woff2');
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url(./ptsansnarrowbold.woff) format('woff'),
         url(./ptsansnarrowbold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}